<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GenshinHub.Com</title>
</head>
<body>
    <b>Быстрые, дешёые примогемы и луны для Genshin Impact</b>
    <a>
        {% if request.user.is_authenticated %}
        <h3 align="right">{{ request.user.username }}</h3>
        <a href="{% url 'logout' %}">
            <li align="right"><i class="fas fa-file-signature"></i>Logout</li>
        </a>
        {% else %}
        <a href="{% url 'signup' %}">
            <li align="right"><i class="fas fa-file-signature"></i>SignUp</li>
        </a>
        <a href="{% url 'login' %}">
            <li align="right"><i class="fas fa-file-signature"></i>Login</li>
        </a>
        {% endif %}
    </a>
    <a align="left">Бонусная акция Genshin Impact Bonus

Первый бонус
на пополнение счета Если ваш игровой персонаж никогда не пополнялся в игре или на какой-либо платформе, вы можете:
Пополните 60 кристаллов Genesis, чтобы получить 120 кристаллов Genesis
Пополните 300+ 30 кристаллов Genesis, чтобы получить 600 кристаллов Genesis
Пополните 980+ 110 кристаллов Genesis, чтобы получить 1 960 кристаллов Genesis
Пополните 1 980+ 260 кристаллов Genesis, чтобы получить 3 960 кристаллов Genesis
Пополните 3 280+ 600 кристаллов Genesis, чтобы получить 6 560 кристаллов Genesis
Пополните 6 480+ 1600 кристаллов Genesis, чтобы получить 12 960 кристаллов Genesis
Бонусный подарок
Если ваш игровой персонаж уже пополнял счет в игре или на любой платформе, вы можете:
Пополните 60 кристаллов Genesis, чтобы получить 60 кристаллов Genesis
Пополните 300+ 30 кристаллов Genesis, чтобы получить 330 кристаллов Genesis
Пополните 980+ 110 кристаллов Genesis, чтобы получить 1090 кристаллов Genesis
Пополните 1 980+ 260 кристаллов Genesis, чтобы получить 2 240 кристаллов Genesis
Пополните 3 280+ 600 кристаллов Genesis, чтобы получить 3 880 кристаллов Genesis
Пополните 6 480+ 1600 кристаллов Genesis, чтобы получить 8 080 кристаллов Genesis
Благословение Велкинской Луны
Каждый раз, когда вы покупаете Blessing of the Welkin Moon, вы немедленно получаете 300 кристаллов Genesis и 30 дней Благословения.
В течение этого 30-дневного периода вы можете получать 90 примогемов каждый день при входе в систему.
Важные моменты:
1. Продолжительность Благословения Луны Велкин может быть продлена только в том случае, если его оставшаяся продолжительность составляет 180 дней или меньше.
2. Вы не можете приобрести дополнительное благословение, если оставшийся срок действия превышает 180 дней. Если уникальные обстоятельства все равно приведут к повторной покупке, срок действия не будет продлен, и вместо этого вам будет возвращено 330 кристаллов Genesis напрямую.
3. Возврат средств за любые Примогемы, которые не были запрошены при входе в систему в течение срока действия Благословения, не производится.
4. Путешественники с рангом приключения ниже 5 временно не могут просматривать количество дней, оставшихся до их Благословения Луны Уэлкин.
Codashop сотрудничает с HoYoverse, чтобы предлагать официальные пополнения Genshin Impact!

Это безопасно и просто. Просто введите свой идентификатор пользователя Genshin Impact, выберите товары, которые вы хотите приобрести, завершите платеж, и пополнения от Genshin Impact будут немедленно добавлены в вашу учетную запись Genshin Impact.

Регистрация или вход в систему не требуются.

У вас еще нет игры? Загрузите Genshin Impact уже сегодня!</a>
</body>
</html>