<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7b488877e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="navbar container">
            <div class="navbar__logo navbar-logo">
                <img class="navbar-logo__img" src="img/Logo.png" alt="" />
            </div>

            <ul class="navbar__list navbar-list">
                <li class="navbar-list__item">
                    <a class="navbar-list__link" href="../schools/index.html">Школа</a>
                </li>
                <li class="navbar-list__item">
                    <a class="navbar-list__link" href="../Скоро добавится/index.html">Гимназия</a>
                </li>
                <li class="navbar-list__item">
                    <a class="navbar-list__link" href="../Скоро добавится/index.html">Колледж</a>
                </li>
                <li class="navbar-list__item">
                    <a class="navbar-list__link" href="../Скоро добавится/index.html">Университет</a>
                </li>
                <li class="navbar-list__item">
                    <a class="navbar-list__link" href="../teachers/index.html">Учителя</a>
                </li>
            </ul>
            <div class="navbar__bars">
                <i class="fa-solid fa-bars"></i>
            </div>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <div class="main__search main-search">
                <label class="main-search__label">
                <input type="text" class="main-search__input" name="school" />
                  </label>
                <button class="main-search__button" name="school">Поиск</button>
            </div>

            <div class="main__cards main-cards">
                <div class="main-cards__teachers">
                    <img class="main-cards__img" src="img/Rectangle 21.png" alt="" />
                    <div class="main-cards__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="main-cards__lines">
                        <div class="main-cards__strings">
                            <h3 class="main-cards__name">"СРЕДНЯЯ ШКОЛА №204"</h3>
                            <h4 class="main-cards__address">
                                ул. Яна Чечота, 18, Минск
                            </h4>
                            <div class="main-cards__description">
                                <p class="main-cards__text">Функционируют профильные классы с повышенным изучением:
                                </p>
                                <ul class="main-cards__list">
                                    <li class="main-cards__item">Математики и английского языка</li>
                                    <li class="main-cards__item">Физики и математики</li>
                                    <li class="main-cards__item">Химии и биологии</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main__btn-pos">
                            <button class="main-cards__btn">
                  <a href="../school/index.html" class="main-cards__link">Подробнее</a>
                </button>
                        </div>
                    </div>
                </div>
                <div class="main-cards__teachers">
                    <img class="main-cards__img" src="img/picture11.png" alt="" />
                    <div class="main-cards__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="main-cards__lines">
                        <div class="main-cards__strings">
                            <h3 class="main-cards__name">
                                "СРЕДНЯЯ ШКОЛА №84"
                            </h3>
                            <h4 class="main-cards__address">ул. Пономарёва, 1, Минск</h4>
                            <div class="main-cards__description">
                                <p class="main-cards__text">Функционируют профильные классы с повышенным изучением:
                                </p>
                                <ul class="main-cards__list">
                                    <li class="main-cards__item">Математики</li>
                                    <li class="main-cards__item">Химии</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main__btn-pos">
                            <button class="main-cards__btn">
                  <a href="../school/index.html" class="main-cards__link">Подробнее</a>
                </button>
                        </div>
                    </div>
                </div>
                <div class="main-cards__teachers">
                    <img class="main-cards__img" src="img/Rectangle 21 (2).png" alt="" />
                    <div class="main-cards__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="main-cards__lines">
                        <div class="main-cards__strings">
                            <h3 class="main-cards__name">"СРЕДНЯЯ ШКОЛА №180"</h3>
                            <h4 class="main-cards__address">
                                Радужная ул., 8, корп. 3, Минск</h4>
                            <div class="main-cards__description">
                                <p class="main-cards__text">Функционируют профильные классы с повышенным изучением:
                                </p>
                                <ul class="main-cards__list">
                                    <li class="main-cards__item">Математики и английского языка</li>
                                    <li class="main-cards__item">Физики и математики</li>
                                    <li class="main-cards__item">Спортивным уклоном</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main__btn-pos">
                            <button class="main-cards__btn">
                  <a href="../school/index.html" class="main-cards__link">Подробнее</a>
                </button>
                        </div>
                    </div>
                </div>
                <div class="main-cards__teachers">
                    <img class="main-cards__img" src="img/Rectangle 21 (3).png" alt="" />
                    <div class="main-cards__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="main-cards__lines">
                        <div class="main-cards__strings">
                            <h3 class="main-cards__name">"СРЕДНЯЯ ШКОЛА №25"</h3>
                            <h4 class="main-cards__address">
                                ул. Яна Чечота, 20, Минск</h4>
                            <div class="main-cards__description">
                                <p class="main-cards__text">Функционируют профильные классы с повышенным изучением:
                                </p>
                                <ul class="main-cards__list">
                                    <li class="main-cards__item">Английского языка</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main__btn-pos">
                            <button class="main-cards__btn">
                  <a href="../school/index.html" class="main-cards__link">Подробнее</a>
                </button>
                        </div>
                    </div>
                </div>
                <div class="main-cards__teachers">
                    <img class="main-cards__img" src="img/Rectangle 21 (5).png" alt="" />
                    <div class="main-cards__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="main-cards__lines">
                        <div class="main-cards__strings">
                            <h3 class="main-cards__name">"СРЕДНЯЯ ШКОЛА №202"</h3>
                            <h4 class="main-cards__address">                               
                                ул. Алеся Гаруна, 10, Минск
                            </h4>
                            <div class="main-cards__description">
                                <p class="main-cards__text">Функционируют профильные классы с повышенным изучением:
                                </p>
                                <ul class="main-cards__list">
                                    <li class="main-cards__item">Математики и английского языка</li>
                                    <li class="main-cards__item">Физики и математики</li>
                                    <li class="main-cards__item">Химии и биологии</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main__btn-pos">
                            <button class="main-cards__btn">
                  <a href="../school/index.html" class="main-cards__link">Подробнее</a>
                </button>
                        </div>
                    </div>
                </div>
                <div class="main-cards__teachers">
                    <img class="main-cards__img" src="img/Rectangle 21 (7).png" alt="" />
                    <div class="main-cards__stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="main-cards__lines">
                        <div class="main-cards__strings">
                            <h3 class="main-cards__name">"СРЕДНЯЯ ШКОЛА №32"</h3>
                            <h4 class="main-cards__address">ул. Камайская,  18, Минск</h4>
                            <div class="main-cards__description">
                                <p class="main-cards__text">Функционируют профильные классы с повышенным изучением:
                                </p>
                                <ul class="main-cards__list">
                                    <li class="main-cards__item">Математики и английского языка</li>
                                    <li class="main-cards__item">Физики и математики</li>
                                    <li class="main-cards__item">Спортивным уклоном</li>
                                </ul>
                            </div>
                        </div>
                        <div class="main__btn-pos">
                            <button class="main-cards__btn">
                  <a href="../school/index.html" class="main-cards__link">Подробнее</a>
                </button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="main__btn">Дальше</button>
        </div>
    </main>
    <footer class="footer">
        <img class="footer__img" src="img/Logo.png" alt="" />
    </footer>
</body>

</html>