<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7b488877e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style_main.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="header__navbar navbar-header">
            <div class="container navbar-header__container">
                <img src="./logo.png" alt="" class="navbar-header__logo">
                <i class="navbar-header__bars fa-solid fa-bars"></i>
                <ul class="navbar-header__list">
                    <li class="navbar-header__item"><a href="../schools/index.html" class="navbar-header__link">Школа</a></li>
                    <li class="navbar-header__item"><a href="../Скоро добавится/index.html" class="navbar-header__link">Гимназия</a></li>
                    <li class="navbar-header__item"><a href="../Скоро добавится/index.html" class="navbar-header__link">Колледж</a></li>
                    <li class="navbar-header__item"><a href="../Скоро добавится/index.html" class="navbar-header__link">Университет</a></li>
                    <li class="navbar-header__item"><a href="../teachers/index.html" class="navbar-header__link">Учителя</a></li>
                </ul>
            </div>
        </nav>
        <div class="header__main main-header">
            <div class="container main-header__container">
                <div class="main-header__block">
                    <h1 class="main-header__title">Мы поможем вам с выбором <span class="main-header__blue">учебного заведения</span></h1>
                    <p class="main-header__text">На сайте вы сможете увидеть все учебные заведения с полным описанием, рейтингом и отзывами.</p>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <section class="main__about about-main">
                <h1 class="about-main__title">О нас</h1>
                <p class="about-main__text">Мы поможем вам с выбором учителей и школ. Наш сайт имеет множество возможностей благодаря которым любой родитель может присмотреть понравившуюся школу для 
                    своих детей. Оценка, отзывы и мнения собираются от учеников, хорошо знающих о учебных заведениях. Заходя к нам, вы уже сделали правильный выбор.</p>
            </section>
            <section class="main__edu edu-main">
                <h2 class="edu-main__title">Учебные заведения</h2>
                <div class="edu-main__row row-edu">
                    <div class="row-edu__card">
                        <a href="../schools/index.html">
                            <img src="./School.png" alt="" class="row-edu__img">
                        </a>
                        <h3 class="row-edu__title">Школы</h3>
                    </div>
                    <div class="row-edu__card">
                        <a href="#">
                            <img src="./Gymn.png" alt="" class="row-edu__img">
                        </a>
                        <h3 class="row-edu__title">Гимназии</h3>
                    </div>
                    <div class="row-edu__card">
                        <a href="#">
                            <img src="./college.png" alt="" class="row-edu__img">
                        </a>
                        <h3 class="row-edu__title">Колледжи</h3>
                    </div>
                    <div class="row-edu__card">
                        <a href="#">
                            <img src="./Uni.png" alt="" class="row-edu__img">
                        </a>
                        <h3 class="row-edu__title">Университеты</h3>
                    </div>
                </div>
            </section>
            <section class="main__reviewes reviewes">
                <h2 class="review-reviewes__title">Отзывы</h2>
                <div class="review-reviewes__row row-review">
                    <div class="row-review__card card-review">
                        <img src="./Name1.png" alt="" class="card-review__img">
                        <div class="card-review__info">
                            <div class="card-review__name-date">
                                <p class="card-review__name">Юлия Саманчук</p>
                                <p class="card-review__date">21.12.2021</p>
                            </div>
                            <p class="card-review__adress">Средняя школа № 30 - ул. Жуковского, 11</p>
                            <p class="card-review__text">Потому что это самая лучшая школа в Октябрьском районе.</p>
                        </div>
                    </div>
                    <div class="row-review__card card-review">
                        <img src="./Name2.png" alt="" class="card-review__img">
                        <div class="card-review__info">
                            <div class="card-review__name-date">
                                <p class="card-review__name">Ангелина Иванова</p>
                                <p class="card-review__date">19.10.2021</p>
                            </div>
                            <p class="card-review__adress">Средняя школа № 25 - ул. Яна Чечота, 20</p>
                            <p class="card-review__text">Школа для совместного обучения детей с ограниченными возможностями и обычных детей. Современная и комфортная
                            </p>
                        </div>
                    </div>
                    <div class="row-review__card card-review">
                        <img src="./Name3.png" alt="" class="card-review__img">
                        <div class="card-review__info">
                            <div class="card-review__name-date">
                                <p class="card-review__name">Женя</p>
                                <p class="card-review__date">01.03.2022</p>
                            </div>
                            <p class="card-review__adress">Средняя школа № 61 - ул. Кирилла Туровского, 5</p>
                            <p class="card-review__text">Красивая и современная новая школа. Есть бассейн и отличные спортивные залы.
                            </p>
                        </div>
                    </div>
                    <div class="row-review__card card-review">
                        <img src="./Name4.png" alt="" class="card-review__img">
                        <div class="card-review__info">
                            <div class="card-review__name-date">
                                <p class="card-review__name">Дарья Боготько</p>
                                <p class="card-review__date">02.11.2021</p>
                            </div>
                            <p class="card-review__adress">Средняя школа № 209 - ул. Рафиева, 91</p>
                            <p class="card-review__text">Учителя ужасные даже при том, что я учусь неплохо. Оценки на уроке английского у Лихорад Вероники Сергеевны выставляются по принципу кто ходит на её факультатив... </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <img src="./Logo.png" alt="not found" class="footer__logo">
    </footer>
</body>
</html>    